*
{
	margin: 0;
	padding: 0;
}

body
{
	background: #000000;
}

#container
{
	height: 250px;
	width: 960px;
	background-color: #5254fd;
	margin-left: auto;
	margin-right: auto;
	
	
}

header
{
	background-color: #3D52D5;
	margin: 10px;
}

nav
{
	background-color: #3D52D5;
	margin: 10px;
}

aside
{
	background-color: #3D52D5;
	margin: 10px;
	height: 300px;
	width: 460px;
	float: left;
}

#main
{
	background-color: #3D52D5;
	margin: 10px;
	height: 300px;
	width: 460px;
	float: right;
}

footer
{
	background-color: #3D52D5;
	margin: 15px;
	clear:both;
}

h1
{
	color:#B4C5E4;
	margin: 5px;
	padding: 10px;
}

h3
{
	color:#B4C5E4;
	margin: 5px;
	padding: 10px;
}

h4
{
margin: 5px;
	padding: 10px;
	color:#B4C5E4;
}

h5
{
margin: 5px;
	padding: 10px;
	color:#B4C5E4;
}

p
{
margin: 5px;
	padding: 5px;
	color:#4ac4ff;
}
